language: node_js
node_js:
- lts/boron
- node
after_script: bash <(curl -s https://codecov.io/bash)
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: A/9jHMUx4ui0cyuQIzpG3Vo2s9qIc6YtT/ogtAEa2SR/0oHMbR1oAw3pvA2cFX7rTA7LFZiIftvxMbkbheTEQllUiiJfMRi2qNMEUv8LOkpoKDsFXsQmUG8WgbnD79p3Or4GFm9vCR6fcCWQZjp+OiCeGKCJiVLPomUH4NcXA6n5lzfRjjmh78CiIaogG3nvDz+UWgNM5HfycU7GBEbQhhsNz92ZLqDQxC5zyoJarW+KDnwAQBcq65AArmzv5+TlGq2ethUCHjL/V/ULTklMYldJ9dNjaxlsVsSNGlsYGFnt1bcO9c04w2WNCfvQsrtdjBerrcSMpMzofHazOfws4E8PnCtM+roEZDCiZZAnovSLqeTEoIjzgc7xlANT7+h+dJoOd4xfofWkIu6sB3xQXD/xBhmt5U9mISf+d4Ks8nyaqIQpE6NMKsFgfCMO8DoKS+5BHg25fcUUFkkNXX6DLQ8dA7a5DnYTfj+y4erldvKF6MnKSE4iQOrxGaE4rx+o8xXvY7MlKKcMEhYVb4wXQ8ZK54GER3QkZ4gBGeq2ceWW/yJHTaHk9H8naP4xMHyxl7fpcUkDmXX6d2xujfifHQKhH5b4fbXkMBWEmJBym7o0aDklDMMfeyX2TG8eCoG66dUnRkxhNBosoy0CfzL89GovntmdUzcjJhPBBLpU1Vk=
  file:
    - "mdast-comment-marker.js"
    - "mdast-comment-marker.min.js"
  on:
    tags: true
